@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Roboto+Slab&display=swap');

@import '~bootstrap/scss/bootstrap';
@import '../styles/variables';
@import '../styles/commons';


html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.3rem;
    font-family: $base-font-family !important;
    margin: 0;
    height: 100vh;
    padding: 1rem;
}

.mat-card {
    font-family: $base-font-family !important;
}

label {
    color: $primary-color !important;
}

.highcharts-credits {
    display: none !important;
}